@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

::selection {
  color: #ffff;
  background: rgba(251, 146, 36, 1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#nprogress .bar {
  background: rgba(251, 146, 36, 1) !important;
  height: 4px !important;
}

#nprogress .spinner-icon {
  border-top-color: rgba(251, 146, 36, 1) !important;
  border-left-color: rgba(251, 146, 36, 1) !important;
}

.Toastify__toast {
  opacity: 0.9 !important;
}

.Toastify__toast:hover {
  opacity: 1 !important;
}

.spHoverButton1:hover {
  outline: 2px solid rgba(255, 141, 27, 1);
  background-color: #ffff;
  color: rgba(255, 141, 27, 1);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}